<div class="row">
  <div class="col-6">
    <div class="card">
      <app-dona title="Ventas"></app-dona>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-dona [labels]="labels1" [data]="data1" title="Compras"></app-dona>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <app-dona title="Cambios"></app-dona>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-dona title="Compras2"></app-dona>
    </div>
  </div>
</div>